<header class="header">
    <a href="/" class="header_logo">NodeJs</a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            
            <li>
                <a href="/about" class="">About</a>
            </li>    
                
            <li>
                <a href="/contact" class="">Contacts</a>
            </li>

        </ul>


    </nav>
    <div class="header_button">
        <button class="searchButton" aria-expanded="flase">
            Search
        </button>


    </div>



</header>